<!DOCTYPE html>
<html>
<title>Power Manager</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<body>
<header>
    <div class="menu">
        {% if 'username' in session %}
            <div class="button select">
                <a href="{{ url_for('index') }}" class="">Home</a>
            </div>
            {% if request_user.is_admin %}
                <div class="button">
                    <a href="{{ url_for('users') }}" class="">Users</a>
                </div>
            {% endif %}
            <div class="button">
                <a href="{{ url_for('sign_out') }}" class="">Sign Out</a>
            </div>
        {% else %}
            <div class="button">
                <a href="{{ url_for('sign_in') }}" class="">Sign In</a>
            </div>
        {% endif %}
    </div>
    <div class="clear-fix"></div>
</header>

{% block content %}
{% endblock %}

</body>
</html>